@charset "utf-8";

/* visual */

.visual {overflow:hidden;position:relative;z-index:1;height:47.99vw}

.visual .slick-slide {float:left}
.visual .slick-track {overflow:hidden}
.visual .slick-track div {text-align:center}

.visual div {background-repeat:no-repeat;background-position:50% 50%}
.visual div img {width:100%}

.slick-arrow {display:block;overflow:hidden;position:absolute;top:50%;z-index:10000;width:8vw;height:8vw;margin-top:-4vw;border:1px solid #e1e2e9;text-indent:-9999px;border-radius:4vw;cursor:pointer}
.slick-prev {left:4vw;background:transparent url(../img/main/ico_prev.png) 50% 50% no-repeat;background-size:2vw}
.slick-next {right:4vw;background:transparent url(../img/main/ico_next.png) 50% 50% no-repeat;background-size:2vw}

.slick-prev span,
.slick-next span {display:block;width:8vw;height:8vw;background-color:#fff;opacity:0.5}

.visual .slick-dots {position:absolute;bottom:4vw;z-index:1000;width:100%;text-align:center}
.visual .slick-dots li {display:inline-block}
.visual .slick-dots li button {display:block;overflow:hidden;width:2.8vw;height:2.8vw;margin:0 0.8vw;border:0.6vw solid #fff;background:#fff;text-indent:-999px;border-radius:50%;cursor:pointer}
.visual .slick-dots li.slick-active button {position:relative;background:transparent}

.visual_btn {position:absolute;left:50%;bottom:4vw;z-index:1;margin-left:80px}

/* .btn_play {display:block;width:10px;height:13px;background:url(../img/ico_play.png) no-repeat center;text-indent:-9999px;cursor:pointer}
.btn_play.on {background:url(../img/visual_play_icon.png) no-repeat center} */

/* widget (HOME) */

ul.widget {width:100%}
ul.widget:after {display:block;clear:both;content:""}
ul.widget li {float:left;width:33.3%;border-left:0;border-bottom:1px solid #eee;text-align:center;cursor:pointer}
ul.widget li img {display:inline-block;width:auto;height:10vw}
ul.widget li a {display:block;padding:3.7vw 0;font-size:3.38vw;font-weight:500;color:#333}
ul.widget li + li {border-left:1px solid #eee}
ul.widget li + li + li {border-left:1px solid #eee}
ul.widget li + li + li + li {border-left:0}
ul.widget li + li + li + li + li {border-left:1px solid #eee}

/* widget ico */

.ico.vol {display:block;width:14.58vw;height:12.36vw;margin:0 auto;background-size:cover !important}
.ico.vol.ico_1 {background:url(../img/main/widget_1.png) no-repeat center}
.ico.vol.ico_2 {background:url(../img/main/widget_2.png) no-repeat center}
.ico.vol.ico_3 {background:url(../img/main/widget_3.png) no-repeat center}
.ico.vol.ico_4 {background:url(../img/main/widget_4.png) no-repeat center}
.ico.vol.ico_5 {background:url(../img/main/widget_5.png) no-repeat center}
.ico.vol.ico_6 {background:url(../img/main/widget_6.png) no-repeat center}

/* 전체, 공지, 이벤트 (HOME) */

.lst_latest {position:relative;padding:3vw 0 1vw;background:url(../img/main/bg_dot.png) 0 0 repeat-x}

.lst_latest ul.tab {position:relative;margin:3vw 0}
.lst_latest ul.tab:after {display:block;clear:both;content:""}
.lst_latest ul.tab li {float:left;width:29%;text-align:center}
.lst_latest ul.tab li a {display:inline-block;width:25.83vw;padding:0.7vw 0;border:1px solid #ccc;font-size:3.38vw;color:#333;border-radius:13vw}

.lst_latest ul.tab li a:hover,
.lst_latest ul.tab li.on a {border:1px solid #82b954;background-color:#82b954;color:#fff}

a.btn_link {position:absolute;top:6vw;right:3vw;width:8vw;height:8vw;border:1px solid #e1e2e9;border-radius:50%}
a.btn_link:hover {border-color:#60b861}
a.btn_link i {display:block;position:relative;font-style:normal;text-align:center}
a.btn_link i:before {content:"+";display:inline-block;position:relative;top:-0.2vw;margin:0 auto;font-size:5vw;color:#60b861}
 
.lst_latest .unify ul {display:none}
.lst_latest .unify ul.on {display:block}
.lst_latest .unify ul li {position:relative;margin:0 2.67%;padding:2.3vw 0 0.2vw 5vw;border-bottom:1px dotted #eee}
.lst_latest .unify ul li:before {content:"";display:block;position:absolute;top:3.1vw;left:0;width:2.98vw;height:2.98vw;background:url(../img/main/ico_notice.png) no-repeat 0 0;background-size:2.98vw 2.98vw}
.lst_latest .unify ul li.event:before {width:2.08vw;height:2.77vw;margin:0 0 0 0.5vw;background:url(../img/main/ico_event.png) no-repeat 0 0;background-size:2.08vw 2.77vw}

.lst_latest .unify ul li a {display:inline-block;overflow:hidden;width:100%;font-size:3.1vw;color:#333;text-overflow:ellipsis;white-space:nowrap}
.lst_latest .unify ul li a em {font-size:3.1vw;font-weight:700;color:#333}

/* 메인 추천상품 (HOME) */

.lst_recom {position:relative;margin:4vw 0}
.lst_recom h3.tit {display:inline-block;padding:0 0 2vw 2.67%;font-size:3.5vw;font-weight:500;color:#4c4b4b}

.lst_recom a.btn_link {display:inline-block;top:-1vw;right:3vw}

.lst_recom  ul.tab:after {display:block;clear:both;content:""}
.lst_recom  ul.tab li {float:left;width:46%;margin:2% 1.33% 2% 2.67%}
.lst_recom  ul.tab li:nth-child(2n) {margin:2% 2.67% 2% 1.33%}

/* 싱싱장터 */

.btn.c_weight {border:1px solid #ccc;background-color:#fff;font-size:3w;border-radius:4vw}
.btn.t_xs {width:100%;padding:1.2vw 4vw;font-size:3.67vw}

.btn:hover,
.btn.selected {border:1px solid #81b952;background-color:#81b952;font-weight:500;color:#fff}

.lst_recom .panel ul:after {display:block;clear:both;content:""}
.lst_recom .panel ul li {float:left;width:46%;margin:2% 1.33% 2% 2.67%}
.lst_recom .panel ul li:nth-child(2n) {margin:2% 2.67% 2% 1.33%}
.lst_recom .panel ul li a {display:block}

.lst_recom img {width:100%}
.lst_recom .box {position:relative;padding:3vw 2vw;border:1px solid #cecece}
.lst_recom .box strong {display:inline-block;overflow:hidden;position:relative;width:100%;padding:0 0 2vw 0;font-size:3.4vw;font-weight:500;text-align:left;text-overflow:ellipsis;white-space:nowrap}

.lst_recom .box strong.new:after {display:inline-block;position:relative;top:0.6vw;left:1.2vw;width:3.6vw;height:3.6vw;background:url(../img/main/ico_new.png) no-repeat 0 0;background-size:3.6vw 3.6vw;font-size:0;content:""}

.lst_recom dl {width:100%} 
.lst_recom dl:after {display:block;clear:both;content:""}
.lst_recom dt {position:relative;float:left;width:32%;padding:0 0 0 1.5vw;font-size:2.77vw;font-weight:500}
.lst_recom dt:before {content:'';display:block;position:absolute;top:2vw;left:0;width:0.5vw;height:0.5vw;background-color:#81b952;border-radius:50%}
.lst_recom dd {float:left;width:68%;font-size:2.77vw;color:#4c4b4b}

.lst_recom dd.green {color:#37992d}
.lst_recom dd.red {color:#e51937}
.lst_recom dd.blue {color:#egegeg}